<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin.css">
    <title>Admin</title>
</head>
<body>
    <nav class="navbar">
        <div class="left">
            <h1>Admin</h1>
        </div>
        <div class="right">
            <a href="/login"><h2>Logout</h2></a>
        </div>
    </nav>


    <div class="container">
        <a href="/customer-detail">
            <div class="card">
                <img src="/images/customer_logo.png" alt="customer">
                <h2>Customer Details</h2>
            </div>
        </a>
        
        <a href="/employee-detail">
            <div class="card">
                <img src="images/employee_logo.png " alt="employee">
                <h2>Employee Details</h2>
            </div>
        </a>
        
        <a href="/add-employee">
            <div class="card">
                <img src="/images/employee_logo.png" alt="employee">
                <h2>Add Employees</h2>
            </div>
        </a>
        
        <a href="/add-room">
            <div class="card">
                <img src="/images/roomt_logo.png" alt="Add Room">
                <h2>Add Rooms</h2>
            </div>
        </a>
        
    </div>
</body>
</html>