<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Login</title>
</head>
<body>
    <!-- <H1>This is Login page.</H1> -->
    <div class="logo">
        <img src="/images/hotel_logo8.png" alt="logo">
    </div>
    
     <div class="outer-box">
        <h1>Login</h1>
        <div class="inner-box">
            <form action="/" method="post" class="form">
                <input type="text" name="username" placeholder="username" class="pad">
                <input type="password" name="password" placeholder="password" class="pad">
                <label for="userType"></label>
                <select name="userType" id="userType" class="pad">
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
                <button type="submit" class="pad" id="submit">Login</button>
            </form>
        </div>
        <a href="/registration" class="regis">Not register yet?</a>
     </div>
     
     
    
    
</body>
</html>